<?xml version="1.0"?>
<launch>

    <arg name="tf_prefix" default="ackermann_steering_controller"/>

    <node pkg="hunter_teleop" type="teleop_key.py" name="teleop_key" output="screen">
	<param name="max_lin_vel" value="1.5" />
    	<param name="max_ang_vel" value="1.8" />
    	<param name="min_lin_vel" value="-1.5" />
    	<param name="lin_vel_step" value="0.05" />
    	<param name="ang_vel_step" value="0.1" />
    	<param name="ang_vel_reverse" value="0" />
    	<param name="tf_prefix" value="$(arg tf_prefix)"/>
    </node>
        
</launch>
